* {
    text-decoration: 0;
}

header {
    background: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}

header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
    }


header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 16px;

    }


header nav ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    line-height: 60px;
    text-transform: uppercase;

    }

header .header-cases {
    display: none;
} 

@media only screen and (min-width: 1000px){

header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }

}
/* INDEX*/

.index-banner {
    width: 100%;
    height: 400px;
    background-image: url("images/headshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;

}


.index-banner h2 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

/* Information Boxes */

.index-links div {

    display: flex;
    margin: 10px;
    height: 100px;
    background-color: #f2f2f2;
    font-size: 18px;

}

   

.index-boxlink-1{
    flex: 1;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;

}

.index-boxlink-2{
    flex: 2;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.index-boxlink-3{
    flex: 3;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.index-boxlink-4{
    flex: 4;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.index-boxlink-5{
    flex: 5;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.index-boxlink-6{
    flex: 6;
    border: 1px #ccc solid;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}



.index-links div h3 {
    font-family: Catamaran;
    font-size: 20px;
    /*font-weight: 500;
    color: #111;
    text-align: start;
    text-transform: uppercase;
    vertical-align: top;*/
}

/*FOOTER*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin: 20px;
    background-color: #111;
    overflow: hidden;

}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    line-height: 20px;
    
}

footer ul li a {
    font-family: Catamaron;
    font-size: 24px;
    color: #fff;
    line-height: 40px;

}

.footer-links-information {
    display: none;
}

.footer-socialmedia {

    width: 50px;
    float: right;
}

.footer-socialmedia img {

    width: 100%;
    margin-bottom: 10px;
}



/*Containers*/

.container-1 {
    display: flex;
    flex-basis: 40%; 
    flex-wrap: wrap;
       /*
    align-item: flex-end;
    align-item: flex-start;
    flex-direction: column;
    */

}

.container-1 div {
    border: 1px #413d3d solid;
    padding: 10px;

}

.box-1 {
    flex: 1;
    order: 1;
    font-size: 18px;
 
}

.box-2 {
    flex: 1;
    order: 2;
}


.container-2 {
    display: flex;
    justify-content: flex-start;
       /*
    align-item: flex-end;
    align-item: flex-start;
    flex-direction: column;
    */

}

.container-2 div {
    width: 30%;
    border: 1px #ccc solid;
    padding: 10px;

}

.box-1 {
    flex: 1;
    order: 1;
 
}

.box-2 {
    flex: 1;
    order: 2;
}

.box-3 {
    flex: 1;
    order: 3;
}