* main, header, section, aside, footer {
    margin: 0;
    padding: rem-cal(20);
    border: 1px solid #000000;
    color: #ffffff;

}

main {
    background-color: #000000;
}

.header {
    background-color: #03a974;

}

.hero {
    background-color: #d22b1f
}

.content {
    background-color: #129a22;
}

.sidebar {
    border: 1px solid #000000;

}

.footer {
    border: 1px solid #616161;
}